---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Colors
$belize-hole: #2980b9;
$gray: #5a6465;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$pomegranate: #c0392b;
$nephritis: #c0392b;
$green-sea: #16a085;
$nephritis: #27ae60;

$link-color: $belize-hole;
$border-color: lighten($silver, 10%);

// Type
$font-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-serif: "Merriweather", "Georgia", "Times", serif;
$font-brand: "Oswald", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

html body {
  color: darken($gray, 5%);
  background: #fff;
  font-family: $font-serif;
  font-size: 2.0em;
  font-weight: 300;
  a, a:hover, a:visited { color: $link-color; }
  a:hover { color: lighten($link-color, 5%); }
  hr { border-color: $border-color; }
}

.container { max-width: 64.0rem; }

header {
  margin-top: 5rem;
  text-align: center;
  h1 {
    display: inline-block;
    position: relative;
    color: darken($silver, 25%);
    font-weight: 400;
    line-height: 7rem;
    padding-left: 7rem;
    img {
      left: -1rem;
      top: 0;
      position: absolute;
      width: 7rem;
      height: 7rem;
    }
  }
}

main {
  h4 {
    font-weight: 400;
    letter-spacing: 0 !important;
  }
  ul {
    list-style-type: none;
    li {
      margin-left: 0;
      position: relative;
      padding-left: 3.6em;
      margin-bottom: 0.8em;
      padding-bottom: 0.8em;
      border-bottom: 1px solid lighten($border-color, 7%);
      font-style: normal;
      strong {
        font-style: normal;
        font-weight: 300;
      }
      img {
        position: absolute;
        left: 0;
        top: 0.0em;
        width: 3.0em;
        height: 3.0em;
      }
      &:last-child { border: none; }
    }
  }
  &.consulting {
    h2 {
      margin-top: 6rem;
      margin-bottom: 4rem;
      padding-bottom: 2rem;
      font-weight: 400;
      text-align: center;
      border-bottom: 1px solid $border-color;
    }
    img {
      border-radius: 50%;
      float: right;
      width: 20%;
      height: 20%;
      padding: 0;
      margin: 0 0 4% 4%;
    }
  }
}

footer {
  text-align: center;
  ul li {
    display: inline-block;
    margin: 1rem;
    svg {
      path {
        fill: $silver;
      }
      width: 3rem;
    }
    a:hover {
      svg {
        path {
          fill: $link-color;
        }
      }
    }
  }
  &.consulting {

    ul li {
      a {
        img { height: 3rem; }
        line-height: 3rem;
        font-size: 3rem;
        color: $silver;
      }
    }
  }
}

.brand {
  font-family: $font-brand;
}