<footer class="footer">

  <div class="container">

    <hr/>
    <ul>
      <li><a href="mailto:hello@8012labs">{% include mail.svg %}</a></li>
      <li class="twitter"><a href="https://twitter.com/8012labs">{% include twitter.svg %}</a></li>
      <li class="phone"><a href="tel:+18019174292" title="+1 801 917 4292">{% include phone.svg %}</a></li>
      <li class="location"><a href="https://www.google.com/maps/place/81+Prospect+St,+Brooklyn,+NY+11201/@40.700862,-73.9896607,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25a340d3b3a0f:0x36d9482b5ac3177a">{% include location-pin.svg %}</a></li>
    </ul>

  </div>

</footer>
